.container {
    margin: 0 auto;
    width: 60%;
    max-width: 1200px;
    color: rgb(223, 223, 223);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #3d457a;
    color: rgb(223, 223, 223);
}

header {
    background-color: #303059;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 20px 0;
    color: rgb(223, 223, 223);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

h6, h1 {
    margin: 5px 0;
}

.svg-icon {
    align-content: center;
}

p {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 1%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

main {
    padding: 40px 0;
}

section {
    text-align: center;
    padding: 40px 0;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation-btn {
    background-color: #2b2b6a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.long-image {
    width: 100%;
}

.small-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.small-images img {
    width: calc(32.5%);
    height: auto;
    object-fit: cover;
}

.horizontal-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.vertical-stack {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.vertical-stack p {
    text-align: center;
}

.video-clip {
    width: auto;
}

.about-text {
    text-align: justify;
    font-size: 20px;
}

.about-image img {
    width: 50%;
    height: auto;
    float: right;
    margin: 10px;
}

footer {
    background-color: #1a1a2e;
    color: rgb(223, 223, 223);
    text-align: center;
    align-content: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
}

.contact-info {
    text-align: center;
}

.contact-info a {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

.footer-content .contact-info p {
    text-align: center;
    margin: 0;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .image-gallery {
        flex-direction: column;
        align-items: center;
    }
    .small-images {
        flex-direction: column;
    }
    .small-images img {
        width: 100%;
        margin-bottom: 10px;
    }
    .about-image {
        float: none;
        margin: 0;
        width: 100%;
    }
    .about-text {
        text-align: center;
    }
    .video-clip {
        padding-top: 10%;
        width: 100%;
    }
    .audio-player {
        display: block;
        margin-top: 10px;
    }
    .horizontal-stack {
        display: initial;
    }
    .vertical-stack {
        display: initial;
    }
    .about-image img {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}
